<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
<context-param><param-name>org.eclipse.jetty.jsp.precompiled</param-name><param-value>true</param-value></context-param>

<!--
Automatically created by Apache Tomcat JspC.
Place this fragment in the web.xml before all icon, display-name,
description, distributable, and context-param elements.
-->

    <servlet>
        <servlet-name>org.jivesoftware.openfire.plugin.search.advance_002duser_002dsearch_jsp</servlet-name>
        <servlet-class>org.jivesoftware.openfire.plugin.search.advance_002duser_002dsearch_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.jivesoftware.openfire.plugin.search.search_002dprops_002dedit_002dform_jsp</servlet-name>
        <servlet-class>org.jivesoftware.openfire.plugin.search.search_002dprops_002dedit_002dform_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org.jivesoftware.openfire.plugin.search.advance_002duser_002dsearch_jsp</servlet-name>
        <url-pattern>/advance-user-search.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.jivesoftware.openfire.plugin.search.search_002dprops_002dedit_002dform_jsp</servlet-name>
        <url-pattern>/search-props-edit-form.jsp</url-pattern>
    </servlet-mapping>

<!--
All session-config, mime-mapping, welcome-file-list, error-page, taglib,
resource-ref, security-constraint, login-config, security-role,
env-entry, and ejb-ref elements should follow this fragment.
-->
</web-app>
