name: 'CI - PR'

on:
  pull_request:
    branches:
      - main
      - 2021.1.x

jobs:
  check:
    runs-on: 'stream-ci-large'
    steps:
      - name: 'Configure: checkout stream-applications@${{ github.ref }}'
        uses: actions/checkout@v3
      - name: 'Configure: checkout stream-applications@main'
        uses: actions/checkout@v3
        with:
          ref: 'build-dir'
      - name: 'Configure: Ensure scripts are executable'
        shell: bash
        run: find . -type f -name "*.sh" -exec chmod a+x '{}' \;
      - name: 'Configure: Install Java'
        if: ${{ github.base_ref != 'main' }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ needs.parameters.outputs.jdk_build }}
      - name: 'Configure: Install GraalVM'
        if: ${{ github.base_ref == 'main' }}
        uses: graalvm/setup-graalvm@v1
        with:
          version: 'latest'
          java-version: '17'
          #          components: 'native-image' # add when starting native builds.
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Configure: cache for maven dependencies'
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: maven-repo-${{ hashFiles('**/pom.xml') }}-pr-${{ github.base_ref }}
          restore-keys: |
            maven-repo-${{ hashFiles('**/pom.xml') }}-pr-${{ github.base_ref }}
            maven-repo-${{ hashFiles('**/pom.xml') }}
            maven-repo-
      - name: 'Configure: Install xsltproc'
        uses: ./.github/actions/install-xsltproc
      - name: 'Action: build initial dependencies'
        shell: bash
        env:
          VERBOSE: ${{ github.debug && 'true' || '' }}
        run: |
          BUILD_DIR=$(realpath build-dir)
          MAVEN_OPT="-U -B -T 1C -s $ROOT_DIR/.settings.xml ${{ inputs.verbose && '--debug' || '' }}"
          echo "::notice ::building - stream-applications-build"
          set -e
          $BUILD_DIR/build-folder.sh stream-applications-build
          set +e
          echo "::notice ::building - functions"
          set -e
          $BUILD_DIR/build-folder.sh functions
          set +e
          echo "::notice ::building - stream-applications-core"
          set -e
          $BUILD_DIR/build-folder.sh applications/stream-applications-core
          set +e
          echo "::notice ::core build completed"
      - name: 'Configure: get changed files'
        id: changed-files
        uses: tj-actions/changed-files@v34
      - name: 'Action: verify changed modules'
        shell: bash
        env:
          VERBOSE: ${{ github.debug && 'true' || '' }}
        run: |
          $BUILD_DIR=$(realpath build-dir)
          $BUILD_DIR/create-matrices.sh
          $BUILD_DIR/scripts/determine-modules-changed.sh "${{ steps.changed-files.outputs.all_changed_files }}"
          MODULES=$(jq '.[]' modules.json | sed 's/\"//g')
          FOLDERS=
          for module in $MODULES; do            
             if [ "$FOLDERS" = "" ]; then
              FOLDERS="$module"
            else
              FOLDERS="$FOLDERS,$module"
            fi
            if [[ "$module" == *"application" ]]; then
              $BUILD_DIR/scripts/remove-jib-plugin.sh $module/pom.xml
            fi
          done
          echo "::info ::verify $FOLDERS"
          $BUILD_DIR/build-folder.sh $FOLDERS install verify -amd
